@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('/public/fonts/ClashDisplay-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/public/fonts/Satoshi-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



